<div class="ban5 ban" id="ban5">
</div>

<div class="lineuptext"><strong>개발자 소개</strong></div>


<div class='h-container'>

      <div class="row">
          
          
          <div class="col-sm-12 col-md-6 col-xl-3 ">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "developers-01-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "developers-07-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "developers-04-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "developers-02-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "developers-06-min.png" , class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "developers-03-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "developers-05-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "developers-08-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          
        </div>
        

<br><br>

<div class="lineuptext"><strong>팀 소개</strong></div>

<br><br>
 <div class="col-sm-12 col-md-12 col-xl-12">
<div>
 <div class="h-team-wrapper">
    <img class="card-img-top team-img" src="/assets/team.jpeg" alt="Team">
 </div>
 </div>
</div>

<br><br>
<div class="team-text">멋쟁이사자처럼 홍익대학교에서
홍익대학교 축제사이트를 만들었습니다! 👏👏
아직 배운지 3개월도 안됐지만 2주만에 사진도 올리고 권한도 설정하고 AWS디플로이까지 !!! 
다함께 최선을 다해준 아기사자들 리스팩! 🙏🙏
팀원들 모두다 정말 열심히 만들었으니 많은 이용과 관심 부탁드립니다! 🙌🙌</div>
    
     

