
<div style="margin-top: 100px; smargin-left: 350px; max-width: 600px; "
<div class="container newlostform">
  <%= bootstrap_form_for @fleemarket do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_field :name, label: "마켓이름" %>
      <%= f.text_field :category, label: "상품 종류", placeholder: "ex) 귀걸이, 도자기, 휴대폰케이스" %>
      <%= f.text_field :time,    label: "운영 시간", placeholder: "ex) 10:00 - 16:00"%>
      <%= f.text_field :price, label: "가격대", placeholder: "ex) 0.5 - 2.0" %>
      <%= f.text_area :explain, label: "마켓을 소개해주세요!"%>
      <%= f.file_field :mainimage,label: "메인이미지 선택!  ", accept: 'image/png,image/gif,image/jpeg' %>
      <%= f.file_field :image2,label: "부 이미지1 선택!   " ,accept: 'image/png,image/gif,image/jpeg' %>
      <%= f.file_field :image3,label: "부 이미지2 선택!  ",accept: 'image/png,image/gif,image/jpeg' %>
      <button type="submit" class="btn btn-secondary">마켓등록</button>
  <% end %>
</div>
</div>
