
<div class="ban2 ban" id="ban2">

  
  <% if user_signed_in?%>
    <%= link_to '게시글 작성하기', new_fleemarket_path, class: "newbtn" %>
  <% else %>
    <%= link_to '게시글 작성하기', new_user_session_path, class: "newbtn" %>
  <% end %>
</div>

<div class='h-container'>
  <p id="notice"><%= notice %></p>
      <div class="row">
        <% @fleemarkets.each do |fleemarket| %>
          <div class="col-sm-12 col-md-6 col-xl-3">
            <a href = "/fleemarkets/<%= fleemarket.id %>">  
              <div class="card h-card">
                <div class="h-img-wrapper">
                  <% if !fleemarket.mainimage.blank? %>
                    <img class="card-img-top h-img" src="<%= fleemarket.mainimage.main %>" alt="Card image cap">
                  <% else %>
                    <%= image_tag("placeholder_fest.jpeg", class: "card-img-top h-img") %>
                  <% end %>
                </div>
                <div class="card-body">
                  <h5 class="card-title" style="color:#b2b2b2;"><strong><%= fleemarket.name %></strong></h5>
                  <p class="card-text"><%= fleemarket.category %>/<%= fleemarket.price %></p>
                  <p class="card-text"><%= fleemarket.time %></p>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
       <br><br>
       
      <%= paginate @fleemarkets, window: 2 %>
      
     <div style="margin: 80px;"></div>
      