<header>
    <!--<nav>-->
    <!--    <p>logo</p>-->
    <!--</nav>-->
    <!--<nav class="navlink">-->
    <!--    <a href=""><p>HOME</p></a>-->
    <!--    <a href="" style="margin-left:1rem;"><p>INFO</p></a>-->
    <!--    <a href="/fleemarkets" style="margin-left:1rem;"><p>플리마켓</p></a>-->
    <!--    <a href="/eventposts" style="margin-left:1rem;"><p>홍보게시판</p></a>-->
    <!--    <a href="/lostposts" style="margin-left:1rem;"><p>분실물게시판</p></a>-->
    <!--</nav>-->

</header>

<section class="h-main">
    <%= image_tag "home-01.jpg", class: "h-main-img" %>
</section>
<section class="h-main">
    <a href="/eventposts">
        <%= image_tag "home-02.jpg", class: "h-main-img" %>
    </a>
</section>
<section class="h-main">
    <a href="/fleemarkets">
        <%= image_tag "home-03.jpg", class: "h-main-img" %>
    </a>
</section>
<section class="h-main">
    <a href="/eventposts">
        <%= image_tag "home-04.jpg", class: "h-main-img" %>
    </a>
</section>
<section class="h-main">
    <a href="/lostposts">
        <%= image_tag "home-05.jpg", class: "h-main-img" %>
    </a>
</section>
<footer>
    
</footer>