<div class="ban4 ban" id="ban4"></div>

<div class="lineuptext"><strong>대동제 라인업</strong></div>


<div class='h-container'>
<div class="lineupday"><strong>5/16</strong></div> 

      <div class="row">
          
         <div class="col-sm-12 col-md-6 col-xl-3"></div>   
          
          <div class="col-sm-12 col-md-6 col-xl-3 ">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-07-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-08-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
        </div>
          
          
<br><br>

<div class="lineupday"><strong>5/17</strong></div>        
        
        <div class="row", >
                
          <div class="col-sm-12 col-md-6 col-xl-3"></div>   
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-02-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-06-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
        </div>
        
        
        
<br><br>
<div class="lineupday"><strong>5/18</strong></div>         
       <div class="row", >
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-05-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-04-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-01-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-03-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
        </div>


      </div>
      
      <br><br>
      <div class="row">
          
      </div>
      
      <br><br>
      <div class="row">
          

      
      
          <div class="col-xl-4"></div>
      <div class= "col-sm-12 col-xl-4">
          <div style="padding-left:20px; padding-right:20px;">
      <div style="border: 2px solid;"><div class="joojumtext"><strong>주점이용안내</strong></div></div></div>
      
      </div>
      
      <div class=" col-xl-4 "></div>
      
      <div class="col-xl-4"></div>
      <div style="padding-left:50px; padding-right:50px;" class= "col-sm-12 col-xl-4">
   
      <p>
          <div class="joojum2text">
          <br><br>
          테이블 <hr>
          <br>
          테이블마다 시간당 요금이 적용됩니다!
          (요금은 과마다 상이)
          <br><br><br>
          술🍺안주🥘 <hr>
          <br>
          ✔️주류매점 (홍대생 1000원 할인!) <br>
          ✔️푸드트럭  <br>
          ✔️홍대맛집 (2차가즈아٩( ᐛ )٩) <br>홍대생이 추천하는 맛집이 궁금하다면? 
          <div class="h-container"><button type="button" class="btn btn-secondary" id="marketenroll" onclick="location.href='/restaurants';">주변맛집</button>
          </div>
          
          </div>
      </p>
      
      </div>
      
      <div class="col-xl-2"></div>
      </div>
      <div style="margin-bottom: 300px;"></div>
      
      
      
      