<div class="ban4 ban" id="ban4"></div>
<div class="lineuptext"><strong>대동제 라인업</strong></div>


<div class='h-container'>
<div class="lineupday"><strong>5/16</strong></div> 

      <div class="row">
          
         <div class="col-sm-12 col-md-6 col-xl-3"></div>   
          
          <div class="col-sm-12 col-md-6 col-xl-3 ">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-01-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-08-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
        </div>
          
          
<br><br>

<div class="lineupday"><strong>5/17</strong></div>        
        
        <div class="row", >
                
          <div class="col-sm-12 col-md-6 col-xl-3"></div>   
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-02-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-06-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
        </div>
        
        
        
<br><br>
<div class="lineupday"><strong>5/18</strong></div>         
       <div class="row", >
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-05-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-04-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-07-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
          
          <div class="col-sm-12 col-md-6 col-xl-3">
              <div class="card h-card">
                <div class="h-img-wrapper">
                    <%= image_tag "line_up-03-min.png", class: "card-img-top h-img" %>
                </div>
              </div>
          </div>
        </div>


      </div>
      
      <br><br>
      <div class="row">
          
      </div>
      
      <br><br>
      <div class="row">
          

      </div>
      