
<!--<div class="newlostform">-->
<!--  <%= form_tag lostposts_path, multipart: true do %>-->
<!--    <div class="input-field">-->
<!--      <%= label_tag :goal ,'목적을 선택해주세요!', class: "control-label" %><br>-->
<!--      <%= select_tag(:goal, options_for_select({ "물건을 찾아요!" => 1, "주인을 찾아요!" => 2}, 1), class:'form-control')%>-->
<!--    </div>-->
<!--    <div class="input-field">-->
<!--      <%= label_tag :group ,'어떤 종류의 물건인가요?', class: "control-label" %><br>-->
<!--      <%= select_tag(:group, options_for_select({ "핸드폰" => 1, "지갑" => 2, "가방" => 3, "기타" => 4}, 1), class:'form-control')%>-->
<!--    </div>     -->
<!--    <div class="input-field">-->
<!--      <%= label_tag :title ,'제목', class: "control-label" %><br>-->
<!--      <%= text_field_tag :title, nil, class: "form-control"%>-->
<!--    </div>-->
<!--    <div class="input-field">-->
<!--      <%= label_tag :content ,'내용', class: "control-label" %><br>      -->
<!--      <%= text_area_tag :content, nil, :class =>'form-control', :rows => 10, :cols => 120, placeholder: "분실물의 정보, 연락처 등 알려주세요!" %>-->
<!--    </div>    -->
<!--    <div class="field">-->
<!--      <%= label_tag :location,'어디에서 잃어버렸나요?' %><br>-->
<!--      <%= text_field_tag :location %>-->
<!--    </div>-->
<!--    <div class="field">-->
<!--      <%= label_tag :image,'분실물의 사진을 올려주세요!' %><br>-->
<!--      <%= file_field_tag :image, accept: 'image/png,image/gif,image/jpeg' %>-->
<!--    </div>  -->
<!--    <%= hidden_field_tag :user_id, value: current_user.id %>-->
<!--    <br>-->
<!--    <div class="actions">-->
<!--      <%= submit_tag("등록하기") %>-->
<!--    </div>-->
<!--  <% end %>-->

<!--</div>-->

<div class="container newlostform">
  <%= bootstrap_form_for @lostpost do |f| %>
      <%= f.text_field :title, label: "제목", placeholder: "ex)당신의 지갑을 가지고있습니다." , :required => true%>
      <%= f.select :goal, [["주인을 찾아요", "주인을 찾아요"], ["물건을 찾아요!", "물건을 찾아요"]], { label: "목적을 선택해주세요!" }, { class: "selectpicker ",  wrapper: { class: 'has-warning', data: { foo: 'bar' } } } %>
      <%= f.select :group, [["휴대폰", "휴대폰"], ["지갑", "지갑"], ["가방", "가방"], ["기타", "기타"]], { label: "목적을 선택해주세요!" }, { class: "selectpicker",  wrapper: { class: 'has-warning', data: { foo: 'bar' } } } %>    
      <%= f.text_field :location, label: "습득위치 or 분실위치", placeholder: "ex)컴공주점..." %>
      <%= f.text_area :content, label: "내용", class: "tinymce", rows: 15, cols: 120, placeholder: "분실물의 정보, 연락처 등 알려주세요!" %>
      <%= f.file_field :image, label:".", accept: 'image/png,image/gif,image/jpeg' %>
      <%= f.hidden_field :user_id, value: current_user.id %>      
      <%= f.submit %>
  <% end %>
</div>
</div>

