<!--<div class="navshower">-->
  
<!--</div>-->
<div class="ban1 ban" id="ban1">
    <div class="center-btn pushdown">
        <%= link_to new_lostpost_path, :class=>"newbtn" do %>
          게시글 작성하기
        <% end %>
    </div> 
</div> 

<div class="container">
   
        <form action="/lostposts" class="form_0">
            <div class="div_0">
                <span class="check_0" id="check_1" onclick="check_1()">주인을 찾아요!</span>
                <span class="check_0" id="check_2" onclick="check_2()">물건을 찾아요!</span>
            </div>
            <div class="div_0">
                <span class="check_0" id="check_3" onclick="check_3()">휴대폰</span>
                <span class="check_0" id="check_4" onclick="check_4()">지갑</span>
                <span class="check_0" id="check_5" onclick="check_5()">가방</span>
                <span class="check_0" id="check_6" onclick="check_6()">기타</span>
            </div>
            <input id="hidden-1" type="hidden" name="goal" value="주인을 찾아요"></input>
            <input id="hidden-2" type="hidden" name="group" value="물건을 찾아요"></input>
            
        <button type ="submit" value="submit" class="check_0">조회하기</button>
        </form>
        <table class="table" style="margin-top:50px;">
          <tbody>
            <% @lostposts.each do |post| %>
                <tr>
                  <td class="fixratio" id="fixratio">
                      <%= link_to lostpost_path(post.id), :class=>"hoverer" do %> 
                          <span class="korfont"><%=post.title.truncate(43)%></span>
                      <%end%>
                      <br>
                      <% if !post.user.blank? %>
                        <span class="small korfont"><%=post.created_at.strftime("%Y.%m.%d %H:%M")%>&nbsp;&nbsp;</span>
                      <% end %>
                  </td>
                  <td class="fixratio2">
                    <div class="center-btn">
                    <span class="small korfont">댓글 수</span><br>
                    </div>
                    <div class="center-btn">
                    <span class="numgood korfont"><%=post.lostcomments.count%></span> 
                    </div>
                  </td>
                </tr>
            <% end %> 
          </tbody>
        </table>
        
    <div class="luckdiv">
        <%= paginate @lostposts, window: 2 %>
    </div>  
    <br>
    <%= form_tag(lostposts_path, :method => "get") do %>
        <div class="row">
            <div class="col-4 col-md-2" style="padding-right:5px">
                <%= select_tag(:selecto, options_for_select({ "제목" => 1, "내용" => 2, "제목/내용" => 3},params[:selecto]), class:'korfont form-control form-control-sm')%>
            </div>
            <div class="col-5 col-md-3" style="padding-right:6px; padding-left:0px"><%= text_field_tag :search, params[:search],:id=>"textarea1", placeholder: "키워드를 입력해주세요" , class: 'korfont form-control form-control-sm'%></div>
            <div class="col-3 col-md-2" style="padding-left:0px"><%= button_tag "찾기", class: "btn btn-primary btn-sm korfont" %></div>
            <div class="col-0 col-md-5"></div>
        </div>
    <%end%>    
    <br>
</div>    


</section>

<style>
.div_0{
    margin-top:1.5rem;
    height: 3rem;
    border-bottom:2px solid #CCCCCC;
}
.form_0{
       text-align:center;
}
.check_0{
    cursor: pointer !important;
    border : 2px solid gray;
    border-radius : 7px;
    padding:2px;
    padding-left:10px;
    padding-right:10px;

    margin-top : 1.5rem;
}


img{
    max-width:100%;
    height:auto;
}
    .title2{
         font-size:13px;
          position:relative;
          top:-11px;
          padding-left:3px;
    } 
    .title3{
         font-size:15px;
         font-weight:bold;
         color:#565759;
         padding-left:5px;
          top:9px;
    }   
    .comcont{
       padding-left:3px;
       font-size:14px; 
       padding-top:13px;       
    }
    .timeforman2{
        font-size:10px;
       position:relative;
          top:-3px;
          padding-left:3px;
    }    
    .timeforman1{
        font-size:10px;
       position:relative;
          top:6px;
    }   
    .timeforman{
        font-size:10px;
       position:relative;
          top:-0.5px;
    }
    .card-title2{
        font-size:15px;
          position:relative;
          top:-0.5px;
          padding-left:0px;
    }
    .blanker{
        margin-right:10px;
    }    
    .smaller{
        padding:0px;
    }   
    .listlink{
      font-size:14px;
      margin-right:8px;
    }
    .subclass{
      font-weight:bold;
      font-size:15px;
      padding-top:5px;
      margin-bottom:6px;
    }
    .ct{
      width:30px;
    }
    .tarea{
        height:100px;
    }
    .thumb1{
        position:relative;
        width:32px;
        top:-10px;
        margin-top:10px;
        margin-right:5px;
    }
    .thumb2{
        width:60px;
    }   
    
    
blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #424242; /* Just change the color value and that's it*/
}

    .card{
        margin-bottom:14px;
    }
    .bng{
        max-height:140px;
    }
    .card-title1{
        font-size:16px;
        color:#424242;
        margin-bottom:4px;
    }
    .whoer{
        padding-top:3px;
        font-size:13px;
        margin-bottom:0px;
    }
    .cardfoot{
        border-top:1px solid #e0e0e0;
    }
    .colorer{
        color:#ff1744;
    }
    .colorized1{
        background-color:#464540;
    }
    .alignimg{
        margin-bottom:12px;
    }
    .sizer{
        width:55px;
    }
    .blankerbt{
        margin-bottom:20px;
    }
    .sizer2{
        padding-left:5px;
        padding-top:3px;
        width:78px;
        opacity:0.7;
    }
    .sizer2:hover{
        opacity:1.0;
    }
        .imgsizer{
        width:320px;
        padding-bottom:0px;
    }
    .imgsizer2{
        padding-top:54px;
        width:190px;
    }    

    .button1{
        width:80px;
        opacity:0.8;
    }
    .button1:hover{
        opacity:1.0;
    }   
    #textarea1:focus {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #616161;
}
.tt2{
    margin:4px;
}    
.bthover:hover{
    text-decoration:none;
    border:0px;
}


.thumbfin{
    width:70px;
    margin-bottom:8px;
}
.hov2:hover{
    text-decoration:none;
}

@media screen and (min-width: 900px) {
#fixratio {width:90%;}
#fixratio2 {width:10%;}
}
.cate{
    font-weight:bold;
}
.numgood{
    font-weight:bold;
    font-size:17px;
}
.commentsu{
    color:#ffa03a;
}
.datefont{
    font-size:11px;
}
.fixratio{
    width:80%;
}
.fixratio2{
     width:20%;  
}
.cateselect{
    margin-bottom:30px;
}
.catesizer{
    width:80px;
    margin-right:5px;
    margin-top:10px;
}
th{
    font-size:15px;
}
td{
    font-size:13px;
}
    .hoverer{
        color:black;
        opacity:0.84;
    }
    a:hover {
        color:black;
    }
    .hoverer:hover{
        text-decoration:none;
        opacity:1;
    } 
    a:hover{
        text-decoration:none;
    }
    .navshower{
      min-height:60px;
      background-color:black;
    }
    .pushdown{
      /*margin-top:250px;*/
    }
    .newbtn{
      position: absolute;
      font-size:21px;
      font-weight:bold;
      color:black;
      opacity:0.7;
      background-color:white;
      padding:5px;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
    .newbtn:hover{
      font-size:21px;
      font-weight:bold;
      color:black;
      opacity:1;
      background-color:white;
      padding:5px;
    }
</style>

<script>
function check_1(){
    var hidden_1 = document.getElementById('hidden-1');
    hidden_1.setAttribute('value', '주인을 찾아요');
    var check_1 = document.getElementById('check_1');
    var check_2 = document.getElementById('check_2');
    var check_3 = document.getElementById('check_3');
    var check_4 = document.getElementById('check_4');
    var check_5 = document.getElementById('check_5');
    var check_6 = document.getElementById('check_6');
    check_1.style.color = "gray";
    check_2.style.color = "black";
    check_1.style.background = "#CCCCCC"
    check_2.style.background = "white"


}

function check_2(){
    var hidden_2 = document.getElementById('hidden-1');
    hidden_2.setAttribute('value', '물건을 찾아요'); 
    var check_1 = document.getElementById('check_1');
    var check_2 = document.getElementById('check_2');
    var check_3 = document.getElementById('check_3');
    var check_4 = document.getElementById('check_4');
    var check_5 = document.getElementById('check_5');
    var check_6 = document.getElementById('check_6');    
    check_1.style.color = "black";
    check_2.style.color = "gray";
    check_1.style.background = "white"
    check_2.style.background = "#CCCCCC"


}
function check_3(){
    var hidden_3 = document.getElementById('hidden-2');
    hidden_3.setAttribute('value', '휴대폰');
    var check_1 = document.getElementById('check_1');
    var check_2 = document.getElementById('check_2');
    var check_3 = document.getElementById('check_3');
    var check_4 = document.getElementById('check_4');
    var check_5 = document.getElementById('check_5');
    var check_6 = document.getElementById('check_6');    

    check_3.style.color = "gray";
    check_4.style.color = "black";
    check_5.style.color = "black";
    check_6.style.color = "black";
    check_3.style.background = "#CCCCCC"
    check_4.style.background = "white"
    check_5.style.background = "white"
    check_6.style.background = "white"


    
}
function check_4(){
    var hidden_4 = document.getElementById('hidden-2');
    hidden_4.setAttribute('value', '지갑'); 
    var check_1 = document.getElementById('check_1');
    var check_2 = document.getElementById('check_2');
    var check_3 = document.getElementById('check_3');
    var check_4 = document.getElementById('check_4');
    var check_5 = document.getElementById('check_5');
    var check_6 = document.getElementById('check_6');    
 
    check_3.style.color = "black";
    check_4.style.color = "gray";
    check_5.style.color = "black";
    check_6.style.color = "black";
    check_3.style.background = "white"
    check_4.style.background = "#CCCCCC"
    check_5.style.background = "white"
    check_6.style.background = "white"
 
}
function check_5(){
    var hidden_5 = document.getElementById('hidden-2');
    hidden_5.setAttribute('value', '가방'); 
    var check_1 = document.getElementById('check_1');
    var check_2 = document.getElementById('check_2');
    var check_3 = document.getElementById('check_3');
    var check_4 = document.getElementById('check_4');
    var check_5 = document.getElementById('check_5');
    var check_6 = document.getElementById('check_6');    

    check_3.style.color = "black";
    check_4.style.color = "black";
    check_5.style.color = "gray";
    check_6.style.color = "black";
    check_3.style.background = "white"
    check_4.style.background = "white"
    check_5.style.background = "#CCCCCC"
    check_6.style.background = "white"
   
}
function check_6(){
    var hidden_6 = document.getElementById('hidden-2');
    hidden_6.setAttribute('value', '기타'); 
    var check_1 = document.getElementById('check_1');
    var check_2 = document.getElementById('check_2');
    var check_3 = document.getElementById('check_3');
    var check_4 = document.getElementById('check_4');
    var check_5 = document.getElementById('check_5');
    var check_6 = document.getElementById('check_6');    

    check_3.style.color = "black";
    check_4.style.color = "black";
    check_5.style.color = "black";
    check_6.style.color = "gray";
    check_3.style.background = "white"
    check_4.style.background = "white"
    check_5.style.background = "white"
    check_6.style.background = "#CCCCCC"

}
</script>

