<!--<div class="navshower">-->
  
<!--</div>-->
<div class="ban1 ban" id="ban1">
    <div class="center-btn pushdown">
        <%= link_to new_lostpost_path, :class=>"newbtn" do %>
          게시글 작성하기
        <% end %>
    </div> 
</div> 

<div class="container">
            <%= link_to label_tag("주인을 찾아요!"), lostposts_path(:goal => "주인을 찾아요") %>
            <%= link_to label_tag("물건을 찾아요!"), lostposts_path(:goal => "물건을 찾아요") %>
            <hr>
            <%= link_to label_tag("휴대폰"), lostposts_path(:group => "휴대폰") %>
            <%= link_to label_tag("지갑"), lostposts_path(:group => "지갑") %>
            <%= link_to label_tag("가방"), lostposts_path(:group => "가방") %>
            <%= link_to label_tag("기타"), lostposts_path(:group => "기타") %>
        <table class="table" style="margin-top:50px;">
          <tbody>
            <% @lostposts.each do |post| %>
                <tr>
                  <td class="fixratio" id="fixratio">
                      <%= link_to lostpost_path(post.id), :class=>"hoverer" do %> 
                          <span class="korfont"><%=post.title.truncate(43)%></span>
                      <%end%>
                      <br>
                      <% if !post.user.blank? %>
                        <span class="small korfont"><%=post.created_at.strftime("%Y.%m.%d %H:%M")%>&nbsp;&nbsp;</span>
                      <% end %>
                  </td>
                  <td class="fixratio2">
                    <div class="center-btn">
                    <span class="small korfont">댓글 수</span><br>
                    </div>
                    <div class="center-btn">
                    <span class="numgood korfont"><%=post.lostcomments.count%></span> 
                    </div>
                  </td>
                </tr>
            <% end %> 
          </tbody>
        </table>
        
    <div class="luckdiv">
        <%= paginate @lostposts, window: 2 %>
    </div>  
    <br>
    <%= form_tag(lostposts_path, :method => "get") do %>
        <div class="row">
            <div class="col-4 col-md-2" style="padding-right:5px">
                <%= select_tag(:selecto, options_for_select({ "제목" => 1, "내용" => 2, "제목/내용" => 3},params[:selecto]), class:'korfont form-control form-control-sm')%>
            </div>
            <div class="col-5 col-md-3" style="padding-right:6px; padding-left:0px"><%= text_field_tag :search, params[:search],:id=>"textarea1", placeholder: "키워드를 입력해주세요" , class: 'korfont form-control form-control-sm'%></div>
            <div class="col-3 col-md-2" style="padding-left:0px"><%= button_tag "찾기", class: "btn btn-primary btn-sm korfont" %></div>
            <div class="col-0 col-md-5"></div>
        </div>
    <%end%>    
    <br>
</div>    


</section>

<style>
img{
    max-width:100%;
    height:auto;
}
    .title2{
         font-size:13px;
          position:relative;
          top:-11px;
          padding-left:3px;
    } 
    .title3{
         font-size:15px;
         font-weight:bold;
         color:#565759;
         padding-left:5px;
          top:9px;
    }   
    .comcont{
       padding-left:3px;
       font-size:14px; 
       padding-top:13px;       
    }
    .timeforman2{
        font-size:10px;
       position:relative;
          top:-3px;
          padding-left:3px;
    }    
    .timeforman1{
        font-size:10px;
       position:relative;
          top:6px;
    }   
    .timeforman{
        font-size:10px;
       position:relative;
          top:-0.5px;
    }
    .card-title2{
        font-size:15px;
          position:relative;
          top:-0.5px;
          padding-left:0px;
    }
    .blanker{
        margin-right:10px;
    }    
    .smaller{
        padding:0px;
    }   
    .listlink{
      font-size:14px;
      margin-right:8px;
    }
    .subclass{
      font-weight:bold;
      font-size:15px;
      padding-top:5px;
      margin-bottom:6px;
    }
    .ct{
      width:30px;
    }
    .tarea{
        height:100px;
    }
    .thumb1{
        position:relative;
        width:32px;
        top:-10px;
        margin-top:10px;
        margin-right:5px;
    }
    .thumb2{
        width:60px;
    }   
    
    
blockquote{
  margin: 20px 0;
  padding-left: 1.5rem;
  border-left: 5px solid #424242; /* Just change the color value and that's it*/
}

    .card{
        margin-bottom:14px;
    }
    .bng{
        max-height:140px;
    }
    .card-title1{
        font-size:16px;
        color:#424242;
        margin-bottom:4px;
    }
    .whoer{
        padding-top:3px;
        font-size:13px;
        margin-bottom:0px;
    }
    .cardfoot{
        border-top:1px solid #e0e0e0;
    }
    .colorer{
        color:#ff1744;
    }
    .colorized1{
        background-color:#464540;
    }
    .alignimg{
        margin-bottom:12px;
    }
    .sizer{
        width:55px;
    }
    .blankerbt{
        margin-bottom:20px;
    }
    .sizer2{
        padding-left:5px;
        padding-top:3px;
        width:78px;
        opacity:0.7;
    }
    .sizer2:hover{
        opacity:1.0;
    }
        .imgsizer{
        width:320px;
        padding-bottom:0px;
    }
    .imgsizer2{
        padding-top:54px;
        width:190px;
    }    

    .button1{
        width:80px;
        opacity:0.8;
    }
    .button1:hover{
        opacity:1.0;
    }   
    #textarea1:focus {
  border-bottom: 1px solid black;
  box-shadow: 0 1px 0 0 #616161;
}
.tt2{
    margin:4px;
}    
.bthover:hover{
    text-decoration:none;
    border:0px;
}


.thumbfin{
    width:70px;
    margin-bottom:8px;
}
.hov2:hover{
    text-decoration:none;
}

@media screen and (min-width: 900px) {
#fixratio {width:90%;}
#fixratio2 {width:10%;}
}
.cate{
    font-weight:bold;
}
.numgood{
    font-weight:bold;
    font-size:17px;
}
.commentsu{
    color:#ffa03a;
}
.datefont{
    font-size:11px;
}
.fixratio{
    width:80%;
}
.fixratio2{
     width:20%;  
}
.cateselect{
    margin-bottom:30px;
}
.catesizer{
    width:80px;
    margin-right:5px;
    margin-top:10px;
}
th{
    font-size:15px;
}
td{
    font-size:13px;
}
    .hoverer{
        color:black;
        opacity:0.84;
    }
    a:hover {
        color:black;
    }
    .hoverer:hover{
        text-decoration:none;
        opacity:1;
    } 
    a:hover{
        text-decoration:none;
    }
    .navshower{
      min-height:60px;
      background-color:black;
    }
    .pushdown{
      /*margin-top:250px;*/
    }
    .newbtn{
      position: absolute;
      font-size:21px;
      font-weight:bold;
      color:black;
      opacity:0.7;
      background-color:white;
      padding:5px;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
    .newbtn:hover{
      font-size:21px;
      font-weight:bold;
      color:black;
      opacity:1;
      background-color:white;
      padding:5px;
    }
</style>