<div class="ban3 ban" id="ban3">
  <% if user_signed_in? %>
    <% if current_user.id==1 || current_user.id==2 || current_user.id==3 || current_user.id==4 || current_user.id==5 || current_user.id==6 || current_user.id==7 || current_user.id==8 %>
      <%= link_to '게시글 작성하기', new_restaurant_path, class: "newbtn" %>
    <% end %>
  <% end %>  
</div>

<div class='h-container'>
      <div class="row">
          <% @restaurants.each do |restaurant| %>
            <div class = "col-sm-12 col-md-6 col-xl-3">
              <a href = "/restaurants/<%= restaurant.id %>">
                <div class="card h-card">
                  <div class="h-img-wrapper">
                    <% if !restaurant.image.blank? %>
                    <img class="card-img-top h-img" src="<%= restaurant.image %>" alt="Card image cap">
                  <% else %>
                    <%= image_tag("placeholder_fest.jpeg", class: "card-img-top h-img") %>
                  <% end %>
                    
                  </div>
                  <div class="card-body h-card-body">
                    <h5 class="h-card-title" style="color:#09083a;"><%= restaurant.name %></h5>
                    <p class="h-card-text" style="color:#000000;"><%= restaurant.location %></p>
                    <p class="h-card-text" style="color:#000000;"> <%= restaurant.foodtype %></p>
                  </div>
                </div>
              </a>
            </div>
          <% end %>
        
      </div>
  <br><br>

  <%= paginate @restaurants, window: 2 %>

<h4>홍보문의: shgustjd9101@naver.com </h4> 

</div>