<div class="container newlostform">
  <%= bootstrap_form_for @eventpost do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_field :title, label: "홍보명을 정해주세요!", placeholder: "ex.백종원 술트럭,인간 슈퍼마리오", :required => true %>
      <%= f.text_field :host, label: "주최하는 곳의 이름을 알려주세요!", placeholder: "ex.학과명,동아리명,팀명 등등" %>
      <%= f.text_area :contents, label: "간단한 설명 부탁드려요!", class: "tinymce", rows: 15, cols: 120, placeholder: "ex.낮술도 팔아요ㅎㅎ" %>
      <%= f.text_field :runtime, label: "운영 시간은?", placeholder: "ex.오후2시~새벽2시", :required => true %>
      <%= f.text_field :location, label: "위치가 어딘가요?", placeholder: "ex.운동장,k동 앞", :required => true %>
      <%= f.file_field :mainimage,label: "대표사진 선택!  ", accept: 'image/png,image/gif,image/jpeg' %>
      <%= f.file_field :image2,label: "대표사진 선택!  ", accept: 'image/png,image/gif,image/jpeg' %>
      <%= f.file_field :image3,label: "대표사진 선택!  ", accept: 'image/png,image/gif,image/jpeg' %>
      <%= f.submit %>
  <% end %>
</div>  

<style>

.opacity {
  opacity: 0.85;
}
.ll{
    font-size:18px;
    font-weight:bold;
    color:white;
    margin-top:0px;
}
.imgsizer3{
  padding-top:20px;
    width:500px;
    padding-bottom:0px;
}

.btn-primary{
    background-color:#585a5e;
    border: 0.3px solid black;
}
.btn-primary:hover {
    color: #fff;
    background-color: black;
    border-color: black;
}
.centerer{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>