<div class="h-container">
  <p id="notice"><%= notice %></p>
  
  <div class="row show-img-container">
    <div class="col-sm-12 col-xl-6 h-show-img">
      <img class="h-img" src="<%= @eventpost.mainimage %>"/>
    </div>
    <div class="col-sm-12 col-xl-6 h-show-text-wrapper">
      <div class="col-sm-12 eventpost_show_text">
        <span class="h-show-title">
          <%= @eventpost.title %>
        </span>
      </div>
    
      <div class="col-sm-12 h-show-text-line">
        <div class="row">
          <div class="col col-sm-2 col-xl-3 eventpost_show_text">
            <div>주최</div>
          </div>
          <div class="col col-sm-10 col-xl-9">
            <%= @eventpost.host %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 h-show-text-line">
        <div class="row">
          <div class="col col-sm-2 col-xl-3 eventpost_show_text">
            <div>위치</div>
          </div>
          <div class="col col-sm-10 col-xl-9">
            <%= @eventpost.location %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 h-show-text-line">
        <div class="row">
          <div class="col col-sm-2 col-xl-3 eventpost_show_text">
            <div>시간</div>
          </div>
          <div class="col col-sm-10 col-xl-9">
            <%= @eventpost.runtime %>
          </div>
        </div>
      </div>
      <div class="col-sm-12 h-show-text-line">
        <div class="row">
          <div class="col col-sm-2 col-xl-3 eventpost_show_text">
            <div>소개</div>
          </div>
          <div class="col col-sm-10 col-xl-9">
            <%= @eventpost.contents %>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-sm-12">
      <div class="row show-sub-img">
        <% if @eventpost.image2.present? %>
          <div class="col col-sm-6 col-xl-6 h-sub-img-wrapper" >
            <img class="h-img" src="<%= @eventpost.image2 %>" />
          </div>    
        <% else %>
        <% end %>
        <% if @eventpost.image3.present? %>
          <div class="col col-sm-6 col-xl-6 h-sub-img-wrapper" >
            <img class="h-img" src="<%= @eventpost.image3 %>" />
          </div>    
        <% else %>  
        <% end %>
      </div>
    </div>
    
    <div class="col-sm-12 show-post-nav" >
      <%= link_to 'Delete', eventpost_path(@eventpost), method:"delete"%> |
      <%= link_to 'Edit', edit_eventpost_path(@eventpost) %> |
      <%= link_to 'Back', eventposts_path %>
    </div>
    
      
  </div>

</div>
